{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Last Days of Earth</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <div id="game-container">
        <div id="game">

        </div>
        <div id="menu">
            <div class="separator">Inventory</div>
            <div id="inventory">
                <ul>
                </ul>
            </div>
            <div class="separator">Info</div>
            <div id="info">
                <ul>
                    <li>Click to interact/walk</li>
                    <li>Right click to inspect</li>
                    <li>Press enter to chat to other players</li>
                    <li>In dialogue, click on topics at the bottom or inventory items</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="loading">
        <p>Loading... please wait...
    </div>
    <script>
        var debug = {% if debug %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static "bundle.js" %}"></script>
</body>
</html>