{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Last Days of Earth</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <div id="end-of-demo">
        <h1>Last days of Earth</h1>
        <p>Thank you for playing.</p>
        <p>Turns out making an adventure game requires <strong>a lot</strong> of content.</p>
        <p>More than is possible to make for a game jam!</p>
        <p>The full game was planned to include a number of cooperative puzzles as you attempt to save the world from climate disaster, with Donald Trump as the final puzzle.</p>
        <p>The "spectrum" theme was to be approached using the colour spectrum to represent the rising temperature in the game rooms as the timer expired.</p>
        <p>Never mind. Live and learn! We hope you enjoyed this short demo of what we were trying to do :)</p>
        <p></p>
        <table>
            <tr>
                <td>Coding/Puzzles:</td>
                <td>Citizen Of Mêlée</td>
            </tr>
            <tr>
                <td>Backgrounds + Characters:</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Items</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Sound Design</td>
                <td>...</td>
            </tr>
        </table>
    </div>
    <div id="game-container">
        <div id="game">

        </div>
        <div id="menu">
            <div class="separator">Inventory</div>
            <div id="inventory">
                <ul>
                </ul>
            </div>
            <div class="separator">Info</div>
            <div id="info">
                <ul>
                    <li>Click to interact/walk</li>
                    <li>Right click to inspect</li>
                    <li>Press enter to chat to other players</li>
                    <li>In dialogue, click on topics at the bottom or inventory items</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="loading">
        <p>Loading... please wait...
    </div>
    <script>
        var debug = {% if debug %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static "bundle.js" %}"></script>
</body>
</html>