{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Last Days of Earth</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <div id="game-container">
        <div id="game">

        </div>
        <div id="menu">
            <div class="separator">Inventory</div>
            <div id="inventory">
                <ul>
                </ul>
            </div>
            <div class="separator">Info</div>
            <div id="info">
                <p>This is currently in an early state. Temporary assets and bugs are expected. Be nice!</p>

                <p>Click to use/walk, right click to look, enter to talk.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "bundle.js" %}"></script>
</body>
</html>