@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: lightblue;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: default;
}

#game-container {
    width: 1000px;
    height: 600px;
    background: #000;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


// Modals

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.9);

    > div {
        position: absolute;
        top: 50%;
        left: 0%;
        margin-top: -50px;
        width: 100%;
        height: 100px;
        text-align: center;
    }
}

// End Modals

// Chat Text

.chat-input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .inner {
        width: 650px;
        height: 100px;
        background: green;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;

        border: 2px solid black
    }

    input {
        width: 100%;
        height: 100%;
        font-size: 3em;
        font-family: 'Press Start 2P', cursive;
    }
}

// End Chat Text