@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


#end-of-demo {
    display: none;
    width: 600px;
    height: 600px;
    background: #000;
    border: 2px solid black;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    color: #FFF;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

#loading {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: lightblue;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: default;
}

#game-container {
    display: none;
    width: 1000px;
    height: 600px;
    background: #000;
    border: 2px solid black;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#game {
    float: left;
}


// Modals

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.9);

    > div {
        position: absolute;
        top: 50%;
        left: 0%;
        margin-top: -50px;
        width: 100%;
        height: 100px;
        text-align: center;
    }
}

// End Modals

// Chat Text

.chat-input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .inner {
        width: 650px;
        height: 100px;
        background: green;

        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;

        border: 2px solid black
    }

    input {
        width: 100%;
        height: 100%;
        font-size: 3em;
        font-family: 'Press Start 2P', cursive;
    }
}

// End Chat Text

// Menu

#menu {
    float: left;
    background: #FFF;
    width: 198px;
    height: 600px;
    border-left: 2px solid black;

    .separator {
        background: red;
        border-bottom: 2px solid black;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
    }
}

#inventory {
    height: 250px;
    border-bottom: 2px solid black;

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    img {
        width: 64px;
    }

    li {
        float: left;
        position: relative;
        cursor: pointer;

        .number {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        .number-1 {
            display: none;
        }

        .hoverText {
            display: none;
            position: absolute;
            bottom: -20px;
            left: 0px;
            width: 100%;
            text-align: center;
            color: #112266;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000000;
        }


        &:hover {
            .hoverText {
                display: block;
            }
        }

        &.selected {
            border: 2px solid black;
        }

    }
}

#info {
    padding: 5px;
    font-size: 0.7em;
    ul {
        margin: 0px;
        padding: 0px;
    }
    li {
        margin-bottom: 1em;
    }
}

// End Menu

// Selected Item
.selected-item {
    position: absolute;
    width: 64px;
}
// End Selected Item


// Dialogue
#dialogue {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;

    .options {
        position: absolute;
        height: 90px;
        width: 760px;
        background: rgba(0, 0, 0, 0.5);
        bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;

        img {
            width: 64px;
        }
    }

        ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        position: relative;
        cursor: pointer;

        .number {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        .number-1 {
            display: none;
        }

        .hoverText {
            display: none;
            position: absolute;
            bottom: -20px;
            left: 0px;
            width: 100%;
            text-align: center;
            color: #112266;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000000;
        }


        &:hover {
            .hoverText {
                display: block;
            }
        }

        &.selected {
            border: 2px solid black;
        }

    }

    .right {
        position: absolute;
        right: 20px;
    }
}
// End Dialogue

// Blockers

.blocker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.dialogue-blocker {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 800px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}

.menu-blocker {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 600px;
    background: rgba(0, 0, 0, 0.7);
}

// End Blockers